.filtermenu{
    position: fixed;
    top:0;
    width: 60%;
    height: 100vh;
    display: none;
    background-color: rgba(120, 6, 6, 0.9);
    overflow: scroll;
    z-index: 500;
}
    @media screen and (min-width:48em) {
        .filtermenu{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            position: static;
            text-align: center;
            overflow: hidden;
        }
        
    }
 .filtermenu__inner{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
 }
 @media screen and (min-width:48em) {
    .filtermenu__inner{
            display: flex;
            flex-direction: row;
    }
 }
.filtermenu--show{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    
}
.filtermenu__title{
    margin-left: auto;
    margin-right: auto;
    color: white;
}
@media screen and (min-width:48em) {
    .filtermenu__title{
        margin: 0;
    }
}
