/*********menu cards************/
.content{
    width: 100%;
    height: auto;
}
/* @media screen and (min-width:30em){
    .content{
        text-align: center;
    }
} */

.content__flip-movie{
    width: 100%;
    height: 400px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    perspective: 10rem;
    transform-style: preserve-3d;
    margin:1rem 0;
    border: 0.2rem solid white;
   
}
@media screen and (min-width:30em) {
    .content__flip-movie{
        width: 320px;
    }
}
.content__flip-movie--light{
   border: 0.2rem solid black; 
}

.content__flip-1{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;   /*hecho reciente*/
}

.content__inner{
    max-width: 300px;
    height: 400px;
    object-fit: contain;
    object-position: center;
    color: white;
    text-align: justify;
    padding: 1rem;
}
.content__inner--light{
    color: black;
}
.content__flip-1--front{
    transform: rotateY(0deg);
}
.content__flip-1--back{
    transform:rotateY(180deg)
}
.content__flip-movie:hover{
    transform: rotateY(180deg);
}

@media screen and (min-width:48em){
    .content__flip-movie{
        width: 300px;
        margin: 1rem;
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}