.header{
    width: 100%;
    height: 90px;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.3rem;
    z-index: 999;
    position: sticky;
    top: 0;
}
.header--hidden{
    /*esto deberia esconder el menu*/
    visibility: none;
    opacity: 0;
}
.header--lightmode{
    background-color: white;
}
.header__logowhite{
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
}
@media screen and (min-width:48em) {
    .header__logowhite{
    width: 120px;
    height: 120px;
    
}
}