.search{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.search__lightlogo,
.search__favoritelogo{
    fill: red;
    
}
.search__input{
    background-color: black;
    color: white;
    font-weight: bold;
    border: thin solid white;
}
.search__input--light{
    background-color: white;
    color: black;
    border: thin solid black;
}
@media screen and (min-width:30em) {
    .search__lightlogo,
    .search__favoritelogo{
        margin: 0.5rem;
    }
    
}
@media screen and (min-width:48em) {
    .search{
        width: 60%;
        justify-content: space-between;
    }
    
}