html {
  	box-sizing: border-box;
	font-size:16px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
}

.body--lightmode{
  background-color: white;
}